.metadata/
bin/
.classpath/
.settings/
.gitignore/
.project/
##########################
## Java
##########################
*.class
.mtj.tmp/
*.jar
*.war
*.ear
##########################
## Eclipse
##########################
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

##########################